alembic
click
exceptiongroup
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pluggy
psycopg2
pytest
python-dotenv
SQLAlchemy
tomli
typing_extensions
Werkzeug
