                   
    <main>
      <!--Projects: this section allows user to start or continue a project--> 
      <section class="project-section">
        <div>
          <h1 class="display-medium">Lorem ispum</h1>
          <p></p>
          <div>
            <label class="container">One
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
            <label class="container">Two
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="container">Three
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="container">Four
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>  
        </div>
        
      </section>              
    </main>
    