/* typography */
/* display */
.display-large {
    font-size: 3.56rem;
    line-height: 4rem;
    margin: 0px;
    }
    
.display-medium {
    font-size: 2.8rem;
    line-height: 3.25rem;
    margin: 0px;
}
.display-small {
    font-size: 2.25rem;
    line-height: 2.87rem;
    margin: 0px;
}

/* headline */
.headline-large {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0px;
}
.headline-medium {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0px;
}
.headline-small{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0px;
}

/* title */
.title-large {
    font-size: 1.37rem;
    line-height: 2rem;
    margin: 0px;
}
.title-medium {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0px;
}
.title-small{
    font-size: 0.87rem;
    line-height: 1.25rem;
    margin: 0px;
}

/* label */
.label-large{
    font-size: 0.87rem;
    line-height: 1.25rem;
    letter-spacing: 0.75;
    margin: 0px;
}
.label-medium {
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0px;
}
.label-small {
    font-size: 0.68rem;
    line-height: 1rem;
    margin: 0px;
}

/* body */
.body-large{
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: +0.5;
    margin: 0px;
}
.body-medium{
    font-size: 0.68rem;
    line-height: 1rem;
    margin: 0px;

}
.body-small{
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0px;

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    
     .display-large {
        font-size: 48px;
    }

} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {


    

}