
{% extends "00-base.html" %} 
{% block title %} Poster Generator {% endblock %} 
{% block content%}
<section class="section-full-h">
  <div class="container-small-v">
    <h1 class="headline-medium">Notes</h1>
    <h5 class="body-medium">Add your notes</h1>
    <ul  class="body-large" id="notes">
      {% for note in current_user.notes %}
      <li>
        {{ note.data }}
        <button type="button" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form  class="login-form" method="POST">
      <textarea class="label-large" name="note" id="note"></textarea>
      <br />
      <br />
      <button class="button-primary" type="submit">Add Note</button>
    </form>
  </div>
  </section>              
{% endblock %}