/* buttons */
.button-primary {
    padding: 14px 40px;
    color: var(--md-sys-color-primary-container);
    background-color: var(--md-sys-color-on-surface);;
    border-radius: 24px;
    border: 2px solid;
    border-color: var(--md-sys-color-on-surface);
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: +1;
    text-decoration: none;
    text-align: center; 
}
.button-primary:hover {
    color: var(--md-sys-color-background);
    background-color: var(--md-sys-color-primary);
    border-color: var(--md-sys-color-primary);
}
.button-secondary{
    padding: 14px 40px;
    color: var(--md-sys-color-on-surface-variant);
    border-radius: 24px;
    border: 2px solid;
    border-color: var( --md-sys-color-outline-md-sys-color);
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: +0.5;
    text-decoration: none;
    text-align: center; 
}
.button-secondary:hover{
    color: var(--md-sys-color-on-surface-variant);
    border-color: var( --md-sys-color-primary);
}
.button-text {
    padding: 10px 32px;
    color: var(--md-sys-color-on-surface-variant);
    background-color: transparent;
    border-radius: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: +0.5;
    text-decoration: none;
    text-align: center;
}
.button-text:hover {
    color: var(--md-sys-color-primary); 
}
.avatar-icon{
    width: 24px;
    height: 24px;
    background-image: url("https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid;
    border-color: transparent ;
    display: block;
}
.avatar-icon:hover{
    border: 2px solid;
    border-color: var(--md-sys-color-primary) ;
}

.menu-button{
  display: none;
}

/* check-box */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

  .buttons-wrap-h{
      flex-direction: column;
      width: 100%;
      align-items: stretch;
      row-gap: 16px;
  }

  .menu-button{
    display: block;
}

  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  


} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {


  

}